html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
} /* 리스트 표시 */
table {
  /* cell 간격 */
  border-spacing: 0;
  /* 선겹침 */
  border-collapse: collapse;
}
input,
select,
textarea,
button {
  /* 테두리와 패딩크기를 크기안쪽으로 설정 */
  box-sizing: border-box;
}
button {
  background: none; /* 배경색 */
  border: none; /* 테두리 */
  outline: none; /* Tab시 테두리 */
  cursor: pointer; /* 마우스 커서 */
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.hidden {
  position: fixed;
  top: -1000px;
}
.pos_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1000px) {
  .brd {
    display: none;
  }
}
@media screen and (min-width: 1000.1px) {
  .brd2 {
    display: none;
  }
}
@media screen and (min-width: 600.1px) {
  .brd3 {
    display: none;
  }
}
